<?xml version="1.0"?>
<ruleset name="site_health_filter">
	<description>Level Level Site Health Filter ruleset</description>
	<config name="testVersion" value="7.4-"/>
	<file>./src</file>
	<file>./ll-site-health-filter.php</file>

	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="LevelLevel"/>

</ruleset>
